<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/register" method="post">
        <h4>Registro</h4>
        <input type="number" name="matricula" id="matricula" placeholder="Matricula">
        <input type="password" name="senha" id="senha" placeholder="Senha">
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <input type="number" name="isAdmin" id="isAdmin" placeholder="Admin">
        <button type="submit">Registrar</button>
    </form>
</body>
</html>